body {
  background-color: rgb(43, 84, 131);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.customize {
  font-size: larger;
  border: 1px black dotted;
  background-color: rgb(115, 168, 214);
  padding: 10px;
}
.timer {
  font-size: larger;
  color: aliceblue;
  background-color: rgb(71, 128, 179);
  text-align: center;
  padding: 10px;
}
